In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
import ipywidgets as widgets
from IPython.display import display

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2021-07-23 12:15:40,-3.8004,102.2655,79.68,77,33,2.95
1,1,Jamestown,US,2021-07-23 12:20:07,42.0970,-79.2353,66.72,82,1,1.70
2,2,Bluff,NZ,2021-07-23 12:20:07,-46.6000,168.3333,46.80,82,92,12.17
3,3,Cayenne,GF,2021-07-23 12:16:01,4.9333,-52.3333,80.10,87,0,2.30
4,4,Butaritari,KI,2021-07-23 12:15:18,3.0707,172.7902,82.65,79,49,15.59

In [4]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [6]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
#Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=2)
#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna(inplace=True)
preferred_cities_df.head(10)

<ipython-input-31-423e5c8443e2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.dropna(inplace=True)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2021-07-23 12:15:40,-3.8004,102.2655,79.68,77,33,2.95
3,3,Cayenne,GF,2021-07-23 12:16:01,4.9333,-52.3333,80.10,87,0,2.30
4,4,Butaritari,KI,2021-07-23 12:15:18,3.0707,172.7902,82.65,79,49,15.59
5,5,Vega De Alatorre,MX,2021-07-23 12:20:08,20.0333,-96.6333,76.50,72,2,4.32
7,7,Pitimbu,BR,2021-07-23 12:20:08,-7.4706,-34.8086,77.59,80,43,16.20
12,12,Kapaa,US,2021-07-23 12:20:10,22.0752,-159.3190,75.18,78,46,1.01
14,14,Sorong,ID,2021-07-23 12:20:11,-0.8833,131.2500,80.19,85,84,12.80
16,16,Amudat,UG,2021-07-23 12:20:12,1.9500,34.9500,82.36,41,20,7.99
20,20,Nuevo Progreso,MX,2021-07-23 12:20:13,23.1667,-97.9500,76.59,92,19,5.86
27,27,Lorengau,PG,2021-07-23 12:20:16,-2.0226,147.2712,81.43,82,69,8.84

In [32]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [33]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64