In [1]:
#Import the dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [2]:
#Create a set of random latitude and longitude combinations
lats = np.random.uniform(-90, 90, size=2000)
lngs = np.random.uniform(-180, 180, size=2000)
lat_lngs = zip(lats, lngs)

#Add the latitudes and longitudes to a list
coordinates = list(lat_lngs)

In [3]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

759

In [4]:
#Import the requests library
import requests
#Import API key
from config import api_key
# Import the datetime module from the datetime library.
from datetime import datetime

In [5]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key

#Create an endpoint URL for a city
city_url = url + "&q=" + "city"

In [12]:
#Create an empty list to hold the weather data
city_data = []
#Print the beginning of the logging
print('beginning data retrieval    ')
print('----------------------------')

#Create counters
record_count = 1
set_count = 1

#Loop through all the cities in the list
for i, city in enumerate(cities):
    
    #Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    #Create endpoint URL with each city
    city_url = url + "&q=" + city.replace(" ", "+")
    
    #Log the url, record, and set numbers and the city
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    #Add 1 to the record count
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_desc = city_weather["weather"]["description"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')

# If an error is experienced, skip the city.
    #except:
        print("City not found. Skipping...")
        pass

        # Indicate that Data Loading is complete.
        print("-----------------------------")
        print("Data Retrieval Complete      ")
        print("-----------------------------")

SyntaxError: unexpected EOF while parsing (<ipython-input-12-8b88911fb757>, line 50)

In [ ]:
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Current Description": city_desc})

In [7]:
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Iqaluit,63.7506,-68.5145,44.33,93,90,5.01,CA,2021-07-25 11:59:10
1,Matadi,-5.8167,13.4500,90.66,38,56,7.07,CD,2021-07-25 11:59:10
2,Zyryanka,65.7500,150.8500,57.54,81,100,7.70,RU,2021-07-25 11:59:10
3,Great Yarmouth,52.6083,1.7305,76.95,76,94,8.37,GB,2021-07-25 11:59:11
4,Mar Del Plata,-38.0023,-57.5575,55.09,65,90,1.99,AR,2021-07-25 11:59:11
5,Dikson,73.5069,80.5464,37.92,93,100,6.78,RU,2021-07-25 11:59:11
6,Synya,65.3718,58.0387,46.98,97,100,8.05,RU,2021-07-25 11:59:12
7,Manono,-7.3000,27.4167,88.23,23,9,12.12,CD,2021-07-25 11:59:12
8,Bluff,-46.6000,168.3333,48.09,79,100,13.42,NZ,2021-07-25 11:59:12
9,Abu Samrah,35.3029,37.1841,97.59,20,0,6.17,SY,2021-07-25 11:49:56